*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* head  */
#header {
    background-color: #fff;
    height: 90px;

}
#nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    cursor: pointer;
}
.logo {
    padding-top: 12px;
    list-style: none;
}
.logo img {
    height: 63px;
}

#nav .nav-content {
    line-height: 90px;
    text-decoration: none;
    list-style: none;
}
.nav-content .item {
    display: inline-block;
    padding: 0 8px;
    color: rgba(102,102,102,.85);
    text-transform: uppercase;
    font-weight: 550;
    font-family: sans-serif;
}
.item:hover {
    color: #000;
    background-color: #fff;
}
.nav-content input {
    width: 12%;
    height: 36px;
    border: solid;
    background-color: #f39e33;
    border-radius: 99px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    margin-right: -106px;
    cursor: pointer;
}
.nav-content input:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}
.slider-top{
    padding: 30px 0;
}
.slider {
    max-width: 1200px;
    width: 100%;
    height: 390px;
    background-color: #f39e33;
    background-image: url(https://shopcoinusa.com/wp-content/uploads/2022/03/1.1-1024x661.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-position: 100% 50%;
    margin: 0 auto;
}
.class h2 {
    color: #000;
    text-align: center;
}