*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* head  */
#header {
    background-color: #fff;
    height: 90px;

}
#nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    cursor: pointer;
}

.logo {
    padding-top: 12px;
    list-style: none;
}
.logo img {
    height: 63px;
}

#nav .nav-content {
    line-height: 90px;
    text-decoration: none;
    list-style: none;
}
.nav-content .item {
    display: inline-block;
    padding: 0 8px;
    color: rgba(102,102,102,.85);
    text-transform: uppercase;
    font-weight: 550;
    font-family: sans-serif;
}

.item-link {
    text-decoration: none;
    color:rgba(102,102,102,.85) ;
}
.item:hover {
    color: #000;
    background-color: #fff;
}
.item-link:hover {
    color: #000;
    background-color: #fff;
}
.nav-content input {
    width: 12%;
    height: 36px;
    border: solid;
    background-color: #f39e33;
    border-radius: 99px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    margin-right: -106px;
    cursor: pointer;
}
.nav-content input:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

  
/* content  */
#main {
    background-image: url(https://shopcoinusa.com/wp-content/uploads/2021/12/z3059361473346_23e24c2fb4b09ab90e584573746c7296.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 90%;
    height: 100%;
    height: 540px;
}
#content {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;

}
#content-item {
    display: flex;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}
.content1 {
    width: 50%;
    height: 100px;
    padding: 0 15px;

}
.content2 {
    color:#fff;
    list-style: none;
    width: 50%;
    height: 380px;
 
}

.content-main .content-head {
    font-weight: bolder;
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: 7px;
   
}
.content-main .content-body .p1 {
    font-weight: bolder;
    font-size: 15px;;
    margin: 25px 0;
}
.content-main .content-body .p2 {
    font-size: 0,5em;
    margin: 19px 98px;
    font-style: italic;

}
.content-main .content-body img {
    width: 48%; 
    cursor: pointer;
}
/* footer  */
#footer {
    color: rgba(0,0,0,.5);
    padding: 15px 15px 20px 15px;
    font-size: 14px;
    margin: 0 26px;
}
#footer strong {
    font-weight: bolder;
    box-sizing: border-box;
}


